<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{sub}}</title>
</head>

<body style="background-color:#F7F7F7;direction:rtl;text-align:right;padding:12px">
  <h1
  style="color:#323232;
        width:fit-content;
        border-bottom:2px solid #323232;"
  >
        تهنئة بحلول شهر رمضان المُبارَك
  </h1>
  <p
  style="background-color:#28a745;
            color:#F7F7F7;
            padding:12px;
            font-size:18px;
            border-radius:4px;
            margin:0;"
  >
  كل عام وأنتم جميعا بخير ، بمناسبة حلول شهر رمضان المُبارَك ، سائلين الله أن يبلغنا شهر رمضان المُبارَك ، وأن يتقبل منا الصيام والقيام وصالح الأعمال.
  <br>
  ففى شهر رمضان المُبارَك ، تفتح أبواب الجنة ، و تغلق أبواب النار ، و تقييد الشياطين ، فعلى العبد المسلم أن يكثر من العبادة ويتجنب ما يلهيه عنها.
  <br>
  فاللهم أعنا على ذكرك وشكرك وحسن عبادتك ، ووفقنا لما تحب وترضى ، وأجعل ليلة القدر من نصيبنا.
  </p>
</body>
</html>